.aboutUs_container {
  margin-top: 30px;
  margin-bottom: 50px;
  max-width: 90%;
  padding: 30px;
  border-bottom: thin solid black;
  .aboutUs_text {
    font-size: 100px;
    color: #f54a2c;
  }
}

.introduce_container {
  width: 93%;
  .role {
    margin-top: 50px;
    background-color: #404040;
    color: white;
    font-size: 30px;
    display: inline-block;
    height: 50px;
    line-height: 40px;
    padding: 5px;
    border-radius: 18px;
    //color: #f5654c;
  }
  .profile_container {
    margin-top: 1%;
    display: flex;
    margin-bottom: 50px;

    .profile_text {
      padding: 60px;
    }
    // #ff7057 -> profile text 위에 ??
    .profile_img {
      border: thick solid #f54a2c;
      width: 300px; /* 원하는 너비 설정 */
      height: 300px; /* 원하는 높이 설정 */
      border-radius: 50%; /* 이미지를 원형으로 만듦 */
      object-fit: cover; /* 이미지 비율 유지하면서 채우기 */
    }
  }
}

.used_text {

  color: #f5654c;
  margin-left: 70px;
  font-size: 50px;
}

.kakao_map {
  position: relative;
  height: 100%;
  //margin-bottom: 100px;
  .kakao_map_title {
    font-size: 50px;
  }
}




.skills_container {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
  .skill {
    filter: brightness(50%);
    transition: filter 0.3s;
  }
  // 로고 사이즈 조절
  .mysql_logo {
    width: 205px;
    height: 138px;
  }

  // 로고 사이즈 조절
  .spring_logo {
    width: 167px;
    height: 138px;
  }

  // 로고 사이즈 조절
  .react_logo {
    width: 125px;
    height: 125px;
  }
}




.skill.selected {
  filter: brightness(100%);
}

@media (max-width: 991px) {
  .aboutUs_div {
    border: 0;
    border-bottom: thin solid black;
  }
  .about_div_top {
    margin-top: 3%;
  }
  .aboutUs_div {
    border-right: white;
  }
  .skills_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
  }
}

